/* global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --logo-size: 60px;
  --border-radious: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* start */

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

/* navBar */

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  position: sticky;
  top: 0px;
}

.navBar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar__logo img {
  width: var(--logo-size);
}

.navBar__logo a {
  font-size: var(--font-medium);
  text-decoration: none;
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
}

.navBar__menuBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar__menuBtns button {
  font-size: var(--font-regular);
  margin-right: 16px;
  padding: 12px;
  border-radius: var(--border-radious);
  color: var(--color-white);
}

.menuBtn__button.active {
  border: 1px solid white;
}

.menuBtn__button:hover {
  background-color: var(--color-dark-white);
}

/* mainHome */

#mainHome {
  background: center/ cover no-repeat url(img/home-background.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}

.mainHome__profile {
  width: 200px;
  margin-top: 36px;
  border-radius: 50%;
}

#mainHome h1,
h2,
button {
  color: var(--color-white);
}

.mainHome__btn {
  margin: 24px;
  padding: 12px;
  border: solid 1px white;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
}

.mainHome__btn:hover {
  background-color: var(--color-dark-white);
}
