/* global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --logo-size: 60px;
  --border-radious: 4px;

  /* animation duration */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* section centering */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* start */

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

/* navBar */

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 20px;
  transition: all var(--animation-duration) ease-in-out;
}

#navBar.navbar--dark {
  background-color: var(--color-black);
  padding: 0;
}

.navBar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar__logo img {
  width: var(--logo-size);
}

.navBar__logo a {
  font-size: var(--font-medium);
  text-decoration: none;
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
}

.navBar__menuBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar__menuBtns button {
  font-size: var(--font-regular);
  margin-right: 16px;
  padding: 12px;
  border-radius: var(--border-radious);
  color: var(--color-white);
}

.menuBtn__button.active {
  border: 1px solid white;
}

.menuBtn__button:hover {
  background-color: var(--color-dark-white);
  color: var(--color-black);
}

.navBar__toggleBtn {
  color: var(--color-white);
  position: absolute;
  right: 32px;
  top: 18px;
  font-size: 24px;
  display: none;
}

/* mainHome */

#mainHome {
  background: center/cover no-repeat url(img/home-background.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding-top: 100px;
}

.mainHome__profile {
  width: 200px;
  margin-top: 36px;
  border-radius: 50%;
}

#mainHome h1,
#mainHome h2,
button {
  color: var(--color-white);
}

.mainHome__btn {
  margin: 24px;
  padding: 12px;
  border: solid 1px white;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
}

.mainHome__btn:hover {
  background-color: var(--color-dark-white);
  color: var(--color-black);
}

/* About me */

#about p {
  margin-top: 30px;
}

.about__languages {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

.language__major {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 270px;
  margin-top: 60px;
  cursor: pointer;
  border: 1px solid var(--color-black);
  border-radius: 50%;
  background-color: var(--color-light-white);
}

.language__major:hover i {
  transform: translateY(-30px) scale(1.1);
}

.language__major i {
  font-size: 100px;
  width: 100px;
  margin-bottom: 10px;
  transition: transform 200ms linear;
}

.language__major.html:hover i {
  color: red;
}

.language__major.css:hover i {
  color: var(--color-blue);
}

.language__major.js:hover i {
  color: rgb(255, 230, 0);
}

.language__major.html:hover h2 {
  transform: rotate(360deg);
}

.language__major.css:hover h2 {
  transform: rotate(360deg);
}

.language__major.js:hover h2 {
  transform: rotate(360deg);
}

.language__major h2 {
  color: var(--color-black);
  transition: transform 200ms linear;
}

#skills {
  background-color: var(--color-blue);
  margin-top: 30px;
}

#skills h1 {
  margin-top: 50px;
}

.skillSet {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
  color: var(--color-light-white);
}

.skillSet h3,
.skillSet p {
  color: var(--color-light-white);
}

.skills__left {
  background-color: var(--color-dark-grey);
  flex-basis: 60%;
  padding: 20px;
}

.skills__right {
  flex-basis: 40%;
}

.right__tools {
  background-color: var(--color-grey);
  height: 60%;
  padding: 20px;
}

.right__etc {
  background-color: var(--color-light-grey);
  height: 40%;
  padding: 20px;
}

.skill {
  margin-bottom: 12px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.progress {
  width: 100%;
  height: 10px;
  background-color: var(--color-grey);
}

.graph {
  height: 100%;
  background-color: var(--color-orange);
}

#work {
}

.work__buttonCategories {
  margin: 40px;
}

.work__buttonCategories button {
  color: var(--color-black);
  border: 1px solid var(--color-light-grey);
  font-size: var(--font-regular);
  border-radius: var(--border-radious);
  padding: 8px 48px;
}

.Category.active,
.Category:hover {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
}

.Category.active .category__count,
.Category:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 280px;
  height: 280px;
  margin: 2px;
  position: relative;
  background: var(--color-light-white);
}

.work__projects img {
  max-width: 100%;
  max-height: 100%;
}

.project__description:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description {
  position: absolute;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease;
}

.project__description h3:after {
  display: block;
  position: relative;
  content: "";
  left: 50%;
  width: 24px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-white);
}

.project__description h3,
.project__description span {
  color: var(--color-white);
}

#testimonials {
  background-color: var(--color-light-white);
  margin-top: 24px;
}

.testimonial {
  display: flex;
  padding: 24px;
}

.testimonial img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speechBubble {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.speechBubble__description {
  margin: 24px;
}

/* contact */

#contact {
  background: center/cover no-repeat url(img/home-background.png);
}

#contact h1,
#contact h2,
#contact p {
  color: var(--color-white);
}

.contact__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.contact__icon i {
  font-size: var(--font-large);
  color: var(--color-white);
  margin: 8px;
}

.contact__icon {
  transition: all var(--animation-duration) ease;
}

.contact__icon:hover {
  transform: scale(1.1);
}

.contact__icon.git i:hover {
  color: purple;
}

.contact__icon.in i:hover {
  color: skyblue;
}

/* responsive */
@media screen and (max-width: 768px) {
  .navBar__toggleBtn {
    display: block;
  }

  #navBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navBar__menuBtns {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__languages {
    flex-direction: column;
    align-items: center;
  }

  .skillSet {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial img {
    width: 80px;
    height: 80px;
  }
}
